$color-fill:rgb(191, 252, 226);
$color-fill-LV1:#76c6fc;
$color-fill-LV2:#fcff2d;
$color-fill-LV3:#ffcc24;
$color-fill-LV4:#ff5f5f;
$color-fill-LV5:#5d6ece;
$color-border:#ffbd66;
$color-BG:#d4f7fd;

body{
    background-color: $color-BG;
    font-family: 'Noto Sans TC', sans-serif;
}
#newApp{
    padding: 30px;
}
.sideBar{
    z-index: 100; position: relative;
}
.title{
    margin-left: 20%;
}
.totalLevel{
    font-size: 25px; color:$color-fill-LV4;
    font-weight:700; margin-left: 20%;
}
.typeName{
    margin-left: 20%; margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px; color:$color-fill-LV4;
    font-weight:700; 
}
.typeNameBox{
    line-height: 30px;
    border-bottom: $color-fill-LV4 2px solid;
    border-right: $color-fill-LV4 2px solid;
    border-top: 1px solid #9e9e9e;
    border-left: 1px solid  #979797;
    border-radius: 3px; 
    background-color:#e2fff5;
}
.Btn{
    background-color: rgb(255, 147, 147); 
    width: 100px; height: 30px; color: rgb(255, 255, 255);
    border-radius: 10px; margin-top: 20px;
}
.Btn:hover{
    cursor: pointer;
}
.againBtn{
    margin-left: 20%;
}
.saveAsBtn{
    margin-left: 120px;
}
.levelExampleContainer{
    width:180px; height: 240px;
    background-color: $color-BG;
    margin-left: 20%; margin-top: 0px;
    position: absolute; top:400px ;
    border: $color-border 3px solid;
    box-shadow: slategrey  1px 1px 1px 1px ;
    border-radius: 5px;
}
.levelPoint{
    line-height: 40px;
    .circle{
        width: 30px; height: 20px;
        border: solid 2px rgb(17, 17, 17);
        border-radius: 50px;
        padding: 5px;
        margin:0px 5px;
    }
}
.mapContainer{
    position: relative; top:-100px;
}
.menuOptions{
    width: 150px; text-align: center;
    border: 2px $color-border solid;
    border-radius: 5px;
    background-color: whitesmoke;
    display: none;
    position:absolute;
}
.level{
    font-size: 12px; padding-bottom: 3px;
    line-height: 10px;  
    border-top:1px $color-border solid; ;
}
.level:hover{
    cursor: pointer;
    background-color: rgb(182, 182, 182);
}
.drawMap{
    width: 1000px;
    margin-left: auto; margin-right: auto;
}

.fillMap{
    fill:$color-fill;stroke:$color-border;
    stroke-width:4;stroke-linejoin:round;
    stroke-miterlimit:10;
}
.fillMap:hover{
    cursor: pointer;
}
.level5{
    fill: $color-fill-LV5;
    stroke:$color-border;
    stroke-width:4;
}
.level4{
    fill: $color-fill-LV4;
    stroke:$color-border;
    stroke-width:4;
}
.level3{
    fill: $color-fill-LV3;
    stroke:$color-border;
    stroke-width:4;
}
.level2{
    fill: $color-fill-LV2;
    stroke:$color-border;
    stroke-width:4;
}
.level1{
    fill: $color-fill-LV1;
    stroke:$color-border;
    stroke-width:4;
}
.level0{
    fill: $color-fill;
    stroke:$color-border;
    stroke-width:4;
}
